.basket {
  margin: 30px 0;
  width: 30%;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 25px 50px -12px;
}

.basket button {
  width: 95%;
  height: 50px;
  background-color: #bac3c3;
  color: #8c9a9b;
  font-weight: 700;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.basket p {
  margin-top: 70px;
  color: #aaadad;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}
